html,
body {
  max-width: 100svw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ChromeやSafariのオートフィル時の背景色と文字色を変更 
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--mui-palette-common-white) inset !important;
  -webkit-text-fill-color: var(--mui-palette-kinako-900) !important;
  caret-color: var(--mui-palette-kinako-900) !important;
}
