<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Image Test</title>
</head>
<body>
  <h1>Image Test</h1>

    {% if message and category %}
      <div class="message-box {{ category }}">
        <p>{{ message | safe }}</p>
      </div>
    {% endif %}

    <h2>1. 画像を保存する (SaveImage)</h2>
    <form action="/images" method="post" enctype="multipart/form-data">
        <input type="file" name="image_file" required>
        <button type="submit">アップロード</button>
    </form>
</body>
</html>
